html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  line-height: 1.6;
}
body {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #808285;
  font-family: "Effra", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
hr {
  background: none;
  border: 0;
  border-top: 1px solid #000;
  display: block;
  margin: 30px 0;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #172952;
}
h1 {
  font-size: 3.6rem;
  font-size: 36px;
}
h2 {
  font-size: 3.2rem;
  font-size: 32px;
}
h3 {
  font-size: 2.8rem;
  font-size: 28px;
}
h4 {
  font-size: 2.4rem;
  font-size: 24px;
}
h5 {
  font-size: 2.0rem;
  font-size: 20px;
}
h6 {
  font-size: 1.6rem;
  font-size: 16px;
}
/* Flexbox columns */

.eqWrap {
  display: flex;
}

.eq {
  padding: 10px;
}

/*.eq:nth-of-type(odd) {
  background: yellow;
}

.eq:nth-of-type(even) {
  background: lightblue;
}*/

.equalHW {
  flex: 1;
}

.HW-col1-3 {
  flex: 1;
}
.HW-col2-3 {
  flex: 3;
}
.HW-col1-5 {
  flex: 1;
}
.HW-col3-5 {
  flex: 3;
}

.equalHMWrap {
  justify-content: space-between;
}

.equalHM {
  width: 32%;
}

.equalHMRWrap {
  justify-content: space-between;
  flex-wrap: wrap;
}

.equalHMR {
  width: 32%;
  margin-bottom: 2%;
}

.equalHMVWrap {
  flex-wrap: wrap;
}

.equalHMV {
  width: 32%;
  margin: 1%;
}

.equalHMV:nth-of-type(3n) {
  margin-right: 0;
}

.equalHMV:nth-of-type(3n+1) {
  margin-left: 0;
}

.HW-col1-2 {
  flex: 2;
}
#root {
  background-color: '#f6f7fb';  
}